@font-face {
  font-family: 'Cera Pro Black';
  font-style: normal;
  src: url(https://d15k2d11r6t6rl.cloudfront.net/pub/wlnl/2rrwa727/oa9/nqf/d5t/CeraProBlack.ttf)
}
@font-face {
  font-family: 'Cera Pro Black Italic';
  font-style: normal;
  src: url(https://d15k2d11r6t6rl.cloudfront.net/pub/wlnl/2rrwa727/jc5/vvd/ck6/CeraProBlackItalic.ttf)
}
@font-face {
  font-family: 'Cera Pro Bold';
  font-style: normal;
  src: url(https://d15k2d11r6t6rl.cloudfront.net/pub/wlnl/2rrwa727/ilu/qy4/86h/CeraProBold.ttf)
}
@font-face {
  font-family: 'Cera Pro Light';
  font-style: normal;
  src: url(https://d15k2d11r6t6rl.cloudfront.net/pub/wlnl/2rrwa727/t44/z7i/9vl/CeraProLight.ttf)
}
@font-face {
  font-family: 'Cera Pro Medium';
  font-style: normal;
  src: url(https://d15k2d11r6t6rl.cloudfront.net/pub/wlnl/2rrwa727/2qt/ee1/il4/CeraProMedium.ttf)
}
@font-face {
  font-family: 'Cera Pro Regular Italic';
  font-style: normal;
  src: url(https://d15k2d11r6t6rl.cloudfront.net/pub/wlnl/2rrwa727/men/wtz/zvz/CeraProRegularItalic.ttf)
}