@font-face {
  font-family: 'Cera Pro Black';
  font-style: normal;
  src: url(https://momapp.s3.us-east-2.amazonaws.com/CeraProBlack.ttf)
}
@font-face {
  font-family: 'Cera Pro Black Italic';
  font-style: normal;
  src: url(https://momapp.s3.us-east-2.amazonaws.com/CeraProBlackItalic.ttf)
}
@font-face {
  font-family: 'Cera Pro Bold';
  font-style: normal;
  src: url(https://momapp.s3.us-east-2.amazonaws.com/CeraProBold.ttf)
}
@font-face {
  font-family: 'Cera Pro Light';
  font-style: normal;
  src: url(https://momapp.s3.us-east-2.amazonaws.com/CeraProLight.ttf)
}
@font-face {
  font-family: 'Cera Pro Medium';
  font-style: normal;
  src: url(https://momapp.s3.us-east-2.amazonaws.com/CeraProMedium.ttf)
}
@font-face {
  font-family: 'Cera Pro Regular Italic';
  font-style: normal;
  src: url(https://momapp.s3.us-east-2.amazonaws.com/CeraProRegularItalic.ttf)
}